/* General Styles */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #0dd116c4;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


/* Chatbot Container */
.chatbot-container {
  width: 400px;
  background-color: #ffffff;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0.1px 0.1px 0.1px 5px rgb(242, 244, 250);
}

/* Header */
.chat-header {
  display: flex;
  align-items: center;
  padding: 15px;
  padding-left: 90px;
  background-color: #039728;
}

h2{
  color:  white;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-style: normal;
  /* font-weight: bolder; */
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Chat Messages */
.chatbot-messages {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}


/* Messages */
.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.user-message {
  background-color: #039728;
  align-self: flex-end;
}

.bot-message {
  background-color: #039728;
  align-self: flex-start;
}

/* Bot Avatar */
.bot-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Input Section */
.chat-input {
  display: flex;
  padding: 10px;
  background-color: #039728;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  /* border: none; */
  border-radius: 5px;
}

.chat-input button {
  margin-left: 10px;
  padding: 8px;
  border-radius: 15px;
  background-color: #039728;
  color: rgb(229, 217, 217);
  cursor: pointer;
  border-color:  white;
}

/* Chat Options */
.chat-options {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #039728;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
